.news-image {
  height: auto !important;
  max-width: 100% !important;
  border-radius: unset !important;
  margin-left: 1em;
  align-self: center;
}

.news-card {
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: unset !important;
}

.nav-item {
  margin-left: 9px;
}

.logout-button {
  position: right;
}

.item-button {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.press-release {
  font-size: 0.75rem;
}

.link-icons {
  margin-top: 10px;
}

.link-icons a {
  margin-right: 3px;
  margin-bottom: 1em;
}

main {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.connect-table-row {
  padding: 1em;
}

body {
  background-color: black !important;
}

.home-image {
  max-height: 70vh;
  max-width: 70vw;
}

.home-container {
  margin-top: 1em;
}

.navbar {
  margin-bottom: 1em;
}

.biog-edit-card {
  margin-bottom: 1em;
}

.press-release-toggle-container {
  text-align: right;
  margin-bottom: 1em;
}

.press-release-toggle {
  font-size: 1.5em;
  color: #63d0d4;
}

th {
  color: #9197a3;
}

a:link {
  color: #63d0d4;
}
a:visited {
  color: #63d0d4;
}
a:hover {
  color: #63d0d4 !important;
}

#mc_embed_signup {
  background: #000000;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

.soundcloud-frame-inner {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  text-align: center;
}
